$cor-White:#ffffff;
$cor-Black:#000000;
$cor-Red:#891818;
$cor-Gray:#707070;

// ===font-size===
$fz-normal:1rem;

$fz-xlg:$fz-normal*5;
$fz-lg:$fz-normal*4;
$fz-md:$fz-normal*1.5;
$fz-sm:$fz-normal*1.25;

// ===line-height===
$lh-normal:1;

$lh-xlg:$lh-normal*2.1;
$lh-lg: $lh-normal*1.75;
$lh-md:$lh-normal*1.5;
$lh-sm:$lh-normal*1.325;
$lh-xsm:$lh-normal*1.3;

// ===margin===

$mb-normal:1rem;

$mb-xlg:$mb-normal*3.5;
$mb-lg:$mb-normal*2.5;
$mb-md:$mb-normal*2;
$mb-mb-l:$mb-normal*1.75;
$mb-md-m:$mb-normal*1.5;
$mb-sm:$mb-normal*1.25;
$mb-xsm:$mb-normal*.5;

// ===padding===

$pad-normal:1rem;

$pad-lg:$pad-normal*1.5;
$pad-sm:$pad-normal/2;
$pad-xsm:$pad-normal/4;


